/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 100px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  color: var(--accent-color);
  font-size: var(--font-size);
}

.body {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: 'Inter-Variable', sans-serif;
    font-size: var(--font-size);
  }
}

/* Header */

.header {
  width: min(700px, 100%);
  padding: 137px 0 18px 0;
  background-color: var(--background-color);
  margin: 0 auto 100px auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font), monospace;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.header__logo {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  color: var(--accent-color);
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(18px, 2.5vw, 23px);
}

.theme-menu__item {
  cursor: pointer;
}

.theme-menu__button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-block-end: 7px;
  margin-inline-start: 15px;
  position: relative;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 1;
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button::before {
  content: "▶";
  font-size: 14px;
  position: absolute;
  left: -18px;
  color: transparent;
  animation: pulse 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: all 0.3s;
}

.theme-menu__button:disabled::before {
  color: var(--accent-color);
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

/*   Card   */

.card__item {
  width: min(700px, 100%);
  background-color: var(--background-color);
  margin: 0 auto 50px auto;
  border: 2px solid var(--accent-color);
}

.card__item_watermark-and-image {
  position: relative;
}

.card__item_image {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__item_watermark {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 2;
  right: 25px;
  top: 25px;
  
  text-shadow: 
    -1px 0 var(--label-line-color),
    0 1px var(--label-line-color),
    1px 0 var(--label-line-color),
    0 -1px var(--label-line-color);
}

@supports (-webkit-text-stroke: 1px var(--label-line-color)) {
  .card__item_watermark {
    -webkit-text-stroke: 1px var(--label-line-color);
    text-shadow: none;
  }
}

.card__item-text {
  margin: 25px 25px 0 25px;
  line-height: 21px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-top: 2px solid var(--accent-color);
}

.card__title {
  padding: 5px 10px;
  font-size: var(--font-size);
  border-bottom: 2px solid var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--header-font-weight);
  
}

.buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 25px 25px 25px 0;
}

.like-icon {
  width: 39px;
  height: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.card__icon-button {
  cursor: pointer;
  outline: none;
  background-color: var(--background-color);
  height: 38px;
  display: flex;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  margin: 0 2px 0 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}

.button:hover:before {
  width: 100%;
}

.button__text {
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 2;
}

/*   Save   */

.modal-window {
  max-width: 353px;
  background-color: var(--background-color);
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px;
  border: 2px solid var(--accent-color);
}

.modal-window__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window__text {
  display: block;
  margin-left: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.modal-window__floppy_image {
  stroke: var(--accent-color);
  fill: var(--accent-color);
  z-index: 2;
  width: 90px;
  height: 40px;
}

.floppy_image {
  width: 21px;
  height: 21px;
  margin-inline-end: 8px;
  stroke: var(--accent-color);
  mix-blend-mode: difference;
  filter: var(--filter);
  z-index: 2;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.card__image-saturate {
  filter: saturate(30%);
}

.card__image-contrast {
  filter: saturate(500%) contrast(100%) brightness(100%);
}

.card__image-grayscale {
  filter: saturate(200%) grayscale(50%) hue-rotate(25deg) sepia(30%) contrast(100%) brightness(100%);
}

.card__image-green {
  filter: saturate(220%) invert(60%) contrast(200%) brightness(120%);
}

.card__image-black-white {
  filter: saturate(30%) sepia(60%) invert(20%) grayscale(50%) contrast(200%);
}

.card__image-blur {
  filter: saturate(80%) blur(5px);
}

.card__image-dark-red {
  filter: saturate(40%) invert(20%) contrast(200%) hue-rotate(100deg) brightness(70%);
}

.border_img{
  border-top: 2px solid var(--accent-color);
}

.button {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font), monospace;
  border: 2px solid var(--accent-color);
  line-height: 90%;
  transition: all 0.3s;
  font-size: 14px;
}

.modal-window__button {
  width: 293px;
  height: 38px;
  margin-top: 30px;
  background-color: var(--background-color);
  font-family: var(--accent-font), monospace;
}

.save__button {
  margin: 0 auto 80px;
  width: 340px;
  height: 55px;
  background-color: var(--background-color);
}

.card__like-button {
  width: 130px;
  min-height: 38px;
  padding: 9px 17px;
  background-color: transparent;
}

@media (width < 376px) {
  body {
    min-height: 100vh;
  }  
}

@media (width < 376px) {
  .header {
    padding-top: 120px;
  }
}

@media (width < 376px) {
  .header__logo {
    font-size: 49px;
  }
}

@media (width < 376px) {
  .header__title {
    font-size: 14px;
  }
}

@media (width < 376px) {
  .card__title {
    line-height: 1.2;
  }
}

@media (width < 376px) {
  .modal-window {
    max-width: 341px;
    padding: 30px 40px;
  }  
}

@media (width < 376px) {
  .button {
    flex-direction: column;
    gap: 8px;
  }
}

@media (width < 376px) {
  .save__button {
    width: 309px;
    height: 84px;
    padding: 0;
    margin: 50px 35px 102px 33px;
  }
}

@media (width < 376px) {
  .floppy_image {
    width: 28px;
    height: 28px;
    margin-inline-start: 5px;
  }
}

@media (width < 376px) {
  .card__item_watermark {
    right: 13px;
  }
}